<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @owner.name %>
</p>

<p>
  <b>Age:</b>
  <%= @owner.age %>
</p>

<p>
  <b>Sex:</b>
  <%= @owner.sex %>
</p>

<p>
  <b>Phone:</b>
  <%= @owner.phone %>
</p>

<p>
  <b>Id card:</b>
  <%= @owner.id_card %>
</p>


<%= link_to '编辑', edit_owner_path(@owner) %> |
<%= link_to '返回', owners_path %>
