<%= render :partial => 'shared/error_messages', :locals => {:target => @house} %>
<%= form_for(@house, :html => {:class => 'form-horizontal'}) do |f| %>
    <fieldset>
      <legend><%= header_name %></legend>
      <div class="control-group">
        <%= f.label '楼栋', :class => 'control-label' %>
        <div class="controls">
          <%= f.select(:area_id, all_areas) %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label '房号', :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :house_code %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label '建筑面积', :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :builded_area %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label '实际面积', :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :real_area %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label '公摊面积', :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :share_area %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label '单元状况', :class => 'control-label' %>
        <div class="controls">
          <%= f.select :status, all_status %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label '使用类型', :class => 'control-label' %>
        <div class="controls">
          <%= f.select :use_type, all_use_type %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label '业主', :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :owner_name %>
        </div>
      </div>
      <div class="control-group">

        <div class="controls">
          <button id="btnSubmit" class="btn btn-primary">提交</button>
          <a href="<%= houses_path %>" class="btn">返回</a>
        </div>
      </div>
    </fieldset>
<% end %>
