<div id="content">
<h1>小区管理</h1>
    <div class="table">
        <div id="message">
            <%=flash[:notice] %>
        </div>
        <table id="contentTable" cellspacing="0">
            <tr>
                <th>小区名称</th>
                <th>开发单位</th>
                <th>建筑单位</th>
                <th>地址</th>
				<th>操作</th>
            </tr>
            <% for plot in @plots %>
            <tr>
                <td><%=h plot.name %>
                </td>
                <td><%=h plot.developer %>
                </td>
                <td><%=h plot.constructor %>
                </td>
                <td><%=h plot.address %>
                </td>
                <td><%= link_to '查看', plot %>
              	<%= link_to '编辑', edit_plot_path(plot) %>
                <%= link_to '删除', plot, :confirm => '你确定吗?', :method => :delete %>
				<%= link_to '区域列表',:controller=>'areas',:action=>'index',:plot_id=>plot %>
                </td>
            </tr>
            <% end %>
        </table>
		<%= link_to '新建小区', new_plot_path %>
    </div>
</div>
<br/>

