<fieldset>
  <legend>小区列表</legend>
  <div class="container-fluid">
    <div class="input-append">
      <%= link_to new_plot_path, '新增', :class => 'btn' %>
      <button type="button" class="btn"><i class="icon-remove"></i>批量删除</button>
    </div>
  </div>
  <div class="container-fluid">
    <table class="table table-bordered table-hover table-condensed">
      <thead>
      <tr>
        <th style="width: 50px;">
          <label class="checkbox" style="margin-bottom: 0;">
            <input type="checkbox" onclick="selectAllCheck(this,'plot_id')">全选
          </label>
        </th>
        <th>小区名称</th>
        <th>开发单位</th>
        <th>建筑单位</th>
        <th>地址</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <% @plots.each do |plot| %>
          <tr>
            <td>
              <label class="checkbox">
                <input type="checkbox" id="plot_id" value="<%= plot.id %>">
              </label>
            </td>
            <td><%= h plot.name %>          </td>
            <td><%= h plot.developer %>          </td>
            <td><%= h plot.constructor %>          </td>
            <td><%= h plot.address %>          </td>
            <td>
              <%= link_to '编辑', edit_plot_path(plot) %>
              <%= link_to '删除', plot, :confirm => '你确定吗?', :method => :delete %>
              <%= link_to '区域列表', :controller => 'areas', :action => 'index', :plot_id => plot %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div class="pull-right">
      <%= paginate @plots %>
    </div>

  </div>
</fieldset>
