<div id="content" class="xfluid">
  <% if @user.errors.any? %>
      <div class="portlet x12">
        <div class="portlet-header">
          <h4 style="color:red"><%= pluralize(@user.errors.count, "error") %> prohibited this house from being
            saved:</h4></div>
        <div class="portlet-content">
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><h5 style="color:red"><%= msg %></h5></li>
            <% end %>
          </ul>
        </div>
      </div>
  <% end %>
  <div class="portlet x12">
    <div class="portlet-header"><h4>设置用户角色</h4></div>
    <div class="portlet-content">
      <%= form_tag :action=>'add_role' do %>
          <div class="field">
            <%= h @user.email %>
            </div>
          <div class="field">
            <%= label_tag '角色' %>
            <% for role in @roles %>
                    <%= check_box_tag 'user[role_ids][]', role.id, @user.roles.include?(role) %>
                    <%= role.name %>
                <% end %>
          </div>
          <div class="field">
            <button id="btnSubmit" class="btn">保存</button>
            <button id="btnCancel" class="btn">返回</button>
          </div>

      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
      $("#btnCancel").click(function(){
          document.location.href='<%= users_path %>';
      });
      $("#btnSubmit").click(function(){$("form").submit();});
  });
</script>