<h1>Listing users</h1>

<%= link_to 'New User', new_user_path %>
<table>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.state %></td>
        <td><%= link_to '编辑', edit_user_path(user) %></td>
        <td><%= link_to '删除', user, :confirm => '确定删除?', :method => :delete %></td>
        <td><%= link_to '添加角色',:controller=>'users',:action=>'add_role',:id=>user %></td>
      </tr>
<% end %>
</table>
<%= will_paginate @users, :previous_label=>'<< 上一页', :next_label=>'下一页 >>' %>