<!-- <h1>欢迎来到铭智物业管理系统，请登录</h1>

<div id="right">
  <%= form_tag(choose_plot_path,:method => :get) do %>

      <div class="field">
        <%= label_tag :current_plot,'选择小区' %>
        <%= select_tag :current_plot, options_for_select(all_plots)  %>
        <br/>
      </div>
      <p>
        <%= submit_tag('提交') %>
      </p>
  <% end %>
</div> -->

<script type="text/javascript" src="assets/bootstrap.min.js"></script>
<link href="assets/bootstrap.min.css" rel="stylesheet" media="screen" ≥
<link href="assets/bootstrap-responsive.min.css" rel="stylesheet">

<div class="container">
  
  <%= form_tag(choose_plot_path,:method => :get,:class=>'form-horizontal') do %>
  <div class="control-group">
    <%= label_tag :current_plot,'选择小区',:class=>"control-label" %>
    <div class="controls">
      <%= select_tag :current_plot, options_for_select(all_plots)  %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">提交</button>
    </div>
  </div>
  

  <% end %>
</div>


