<script type="text/javascript">
    var setting = {
        async: {
            enable: true,
            url:"/houses/house_tree",
            type: 'post'
        },
        callback:{
            onClick:click_house
        }
    };
    var zTree1;

    var nodes = [];


    $(function() {
        zTree1 = $.fn.zTree.init($("#house_tree"), setting);
        /*$('#tt').datagrid({
         url: 'http://localhost:3000/home/list',
         title: 'DataGrid - ContextMenu',
         width: 400,
         height: 'auto',
         fitColumns: true,
         columns:[[
         {field:'id',title:'Item ID',width:80},
         {field:'name',title:'Product ID',width:120}
         ]],
         onHeaderContextMenu: function(e, field){
         e.preventDefault();
         if (!$('#tmenu').length){
         createColumnMenu();
         }
         $('#tmenu').menu('show', {
         left:e.pageX,
         top:e.pageY
         });
         }
         });

         function createColumnMenu(){
         var tmenu = $('<div id="tmenu" style="width:100px;"></div>').appendTo('body');
         var fields = $('#tt').datagrid('getColumnFields');
         for(var i=0; i<fields.length; i++){
         $('<div iconCls="icon-ok"/>').html(fields[i]).appendTo(tmenu);
         }
         tmenu.menu({
         onClick: function(item){
         if (item.iconCls=='icon-ok'){
         $('#tt').datagrid('hideColumn', item.text);
         tmenu.menu('setIcon', {
         target: item.target,
         iconCls: 'icon-empty'
         });
         } else {
         $('#tt').datagrid('showColumn', item.text);
         tmenu.menu('setIcon', {
         target: item.target,
         iconCls: 'icon-ok'
         });
         }
         }
         });
         }*/
    });

function click_house(event, treeid, treeNode) {
    $("#house_code").val(treeNode.name);
    refresh_house(treeNode.name);

}

    function refresh_house() {
        $("#selectAll").removeAttr("checked");
        var url = "<%=url_for(:controller => :houses,:action => :house_info) %>";
        house_code = $("#house_code").val();
        $.post(url, {"house_code":house_code}, function (data) {
            if (data.house) {
                $("#house_id").val(data.house.id);
                var html = "<tbody><tr><td>房号</td><td>" + data.house.house_code + "</td>" +
                        "</tr><tr><td>业主</td><td>" + data.house.owner_name + "</td>" +
                        "</tr><tr><td>面积</td><td>" + data.house.builded_area + "平方米</td>" +
                        "</tr><tr><td>房屋类型</td><td>" + data.house.use_type + "</td></tr></tbody>";

                $("#house_base_info").html(html);
            }
            $("#accounts_table tbody tr").each(function () {
                $(this).remove();
            });
            if (data.accounts) {
                for (i = 0; i < data.accounts.length; i++) {
                    var account = data.accounts[i];
                    var account_html = "<tr>" +
                            "<td>" + account.item_name + "</td>" +
                            "<td>" + account.money + "</td>";
                    $("#accounts_table tbody").append(account_html);
                }


            }

            $("#bill_items_table tbody tr").each(function () {
                $(this).remove();
            });
            if (data.bill_items) {
              parse_bill_item(data.bill_items)
            }

        });
    }
function search_bill_item() {
  var url = "<%=url_for(:controller => :bills,:action => :search) %>";
  var house_code = $("#house_code").val();
  var start_time = $("#start_time").val();
  var end_time = $("#end_time").val();
  var charge_type = $("#charge_type").val();
  if (house_code == '') {
    alert("未选择房间");
    return;
  }
  if (start_time == "") {
    alert("未填写开始时间");
    return;
  }
  if (end_time == "") {
    alert("未填写结束时间");
    return;
  }
  $.post(url,{"house_code":house_code,"start_time":start_time,"end_time":end_time,"charge_type":charge_type}, function(data) {
            $("#bill_items_table tbody tr").each(function () {
                $(this).remove();
            });
            if (data.bill_items) {
              parse_bill_item(data.bill_items)
            }

        },"json");
}

function parse_bill_item(bill_items) {
  for (i = 0; i < bill_items.length; i++) {
    var obj = bill_items[i];
    var tr_row = "<tr>";
    //                    if (obj.status != 1) {
    tr_row += "<td><input type='checkbox' name='bill_item_ids' id='bill_item_ids' value='" + obj.id + "' /></td>";
    //                    } else {
    //                        tr_row += "<td><input type='checkbox' name='bill_item_ids' id='bill_item_ids' value='" + obj.id + "' checked='checked' disabled='disabled' /></td>";
    //                    }

    tr_row += "<td>" + obj.item_name + "</td>" +
      "       <td>" + obj.trans_time + "</td>";
    if (obj.status == 0) {
      tr_row += "<td id='bill_item_" + obj.id + "'>未收</td>";
    } else {
      tr_row += "<td id='bill_item_" + obj.id + "'>已收</td>";
    }

    tr_row += "       <td>" + obj.unit_price + "</td>" +
      "       <td>" + obj.money + "</td>" +
      "       <td>" + obj.push + "</td>" +
      "       <td>0.00</td>" +
      "       <td>" + obj.pay_money + "</td>" +
      "       <td>" + obj.start_record + "</td>" +
      "       <td>" + obj.end_record + "</td>";
    if (obj.receipt_no == null) {
      tr_row += "  <td></td>";
    } else {
      tr_row += "       <td><a href='javascript:receipt_show("+obj.receipt_no+");'>"+obj.receipt_no+"</a></td>";
    }
    tr_row += "</tr>";

    $("#bill_items_table tbody").append(tr_row);
  }


}

    function selectAllCheck(allCheckedObj, id) {
        var isAll = $(allCheckedObj).attr("checked");
        if (isAll) {
            $(":checkbox").each(function () {
                if (this.id == id) {
                    if (!this.checked && !this.disabled) {
                        this.checked = true;
                    }
                }
            });
        } else {
            $(":checkbox").each(function () {
                if (this.id == id) {
                    if (this.checked && !this.disabled) {
                        this.checked = false;
                    }
                }
            });
        }
    }

    function add_pre_money() {
        var url = "<%=url_for(:controller => :accounts, :action => :add_pre_money) %>";
        url += "/" + $("#house_id").val();
        document.location.href = url;
    }
    function pay() {
        var url = "<%=url_for(:controller => :bills,:action=>:pay) %>";
        url += "?house_id=" + $("#house_id").val();
        $("input[name='bill_item_ids']").each(function () {
            if (this.checked && $("#bill_item_" + this.value).text() != '已收') {
                url += "&bill_item_ids[]=" + this.value;
            }
        });
        $.post(url, function (data) {
            if (data.result == 'success') {
                alert(data.msg);
                refresh_house();
            }
        });
    }
    function push() {
        var url = "<%=url_for(:controller => :bills,:action=>:push) %>";
        url += "?house_id=" + $("#house_id").val();
        $("input[name='bill_item_ids']").each(function () {
            if (this.checked && $("#bill_item_" + this.value).text() != '已收') {
                url += "&bill_item_ids[]=" + this.value;
            }
        });
        $.post(url, function (data) {
            if (data.result == 'success') {
                alert(data.msg);
                refresh_house();
            }
        });
    }
    function print() {
        var url = "<%=url_for(:controller => :receipt,:action=>:print) %>";
        url += "?houseId=" + $('#house_id').val()+"&type=0";
        var flag = false;
        var sum_checked = 0;
        var hasNoPay = false;
        $("input[name='bill_item_ids']").each(function () {
            if (this.checked) {
                if ($("#bill_item_" + this.value).text() == "已收") {
                    url += "&item_ids[]=" + this.value;
                    flag = true;
                    sum_checked += 1;

                } else {
                    hasNoPay = true;
                }
            }
        });

        if (hasNoPay) {
            alert("包含有未缴费项目,请先缴费再打印收据!");
            return;
        }
        if (!flag) {
            alert("至少选择一个收费项!");
            return;
        }

        if (sum_checked > 4) {
            alert("最多只能选择4项!");
            return;
        }
        var sFeatures = "height=600, width=810, top=0, left=0, toolbar=no, menubar=no, scrollbars=yes, resizable=yes,location=n o, status=no";
        window.open(url, '收据打印', sFeatures);
        setInterval(refresh_house, 5000);

    }
function receipt_show(receipt_no) {
  var url = "<%= url_for(:controller => :receipt, :action => :show) %>";
  url += "?receipt_no=" + receipt_no;
  var sFeatures = "height=600, width=810, top=0, left=0, toolbar=no, menubar=no, scrollbars=yes, resizable=yes,location=n o, status=no";
  window.open(url, '收据打印', sFeatures);
}

</script>
<div id="content" class="xfluid">

  <div class="portlet x2">
    <div class="portlet-header"><h4>房间列表</h4></div>
    <div class="portlet-content">
      <div id="house_tree" class="ztree"></div>
    </div>
  </div>

  <input type="hidden" id="house_id" value="" />
  <div class="portlet x7" style="height: 800px;">
    <div class="portlet-header"></div>
    <div class="portlet-content">
      <div id="batchOpArea" style="min-height: 50px;">
        <button class="btn-icon btn-grey btn-plus"><span></span>增加临时账单</button>
        <button class="btn-icon btn-grey btn-plus" onclick="add_pre_money()"><span></span>预存款</button>
        <button class="btn-icon btn-grey btn-plus"><span></span>退款</button>
        <button class="btn-icon btn-grey btn-plus" onclick="search_bill_item()"><span></span>账单查询</button>
        <button class="btn-icon btn-grey btn-plus" onclick="pay()"><span></span>缴费</button>
        <button class="btn-icon btn-grey btn-plus" onclick="push()"><span></span>使用预存款冲销</button>
        <button class="btn-icon btn-grey btn-plus" onclick="print()"><span></span>打印收据</button>
      </div>
      <!-- 搜索区域 -->
      <div id="searchArea" style="min-height: 50px;">
        <fieldset>



              <input type="hidden" id="house_code" value="" />
              <label>缴费日期：</label><input id="start_time" name="start_time"/>
              <label>到</label><input id="end_time" name="end_time"/>
              <%= select_tag(:charge_type, options_for_select(charge_type_list)) %>
              <input type="button" value="查询" onclick="search_bill_item()" />
       </fieldset>
      </div>
      <table cellpadding="0" cellspacing="0" border="0" class="display" id="bill_items_table">
        <thead>
        <tr>
          <th><input type="checkbox" id="selectAll" onchange="selectAllCheck(this,'bill_item_ids')" />全选</th>
          <th>费用名称</th>
          <th>费用时间</th>
          <th>费用状态</th>
          <th>单价</th>
          <th>应收</th>
          <th>冲销</th>
          <th>滞纳金</th>
          <th>实付</th>
          <th>起数</th>
          <th>止数</th>
          <th>单据号</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
      <table cellpadding="0" cellspacing="0" border="0" class="display">
        <thead>
        <tr>
          <th>备注时间</th>
          <th>主题</th>
          <th>内容</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>2011-12-08 23:00:32</td>
          <td>测试测试测试测试</td>
          <td>还是测试测试测试测试测试测试的</td>
          <td>详细 删除</td>
        </tr>
        <tr>
          <td>2011-12-08 23:00:32</td>
          <td>测试测试测试测试</td>
          <td>还是测试测试测试测试测试测试的</td>
          <td>详细 删除</td>
        </tr>
        <tr>
          <td>2011-12-08 23:00:32</td>
          <td>测试测试测试测试</td>
          <td>还是测试测试测试测试测试测试的</td>
          <td>详细 删除</td>
        </tr>
        <tr>
          <td>2011-12-08 23:00:32</td>
          <td>测试测试测试测试</td>
          <td>还是测试测试测试测试测试测试的</td>
          <td>详细 删除</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="portlet x3">
    <div class="portlet-header"><h4>基本信息</h4></div>
    <div class="portlet-content">
      <table id="house_base_info" cellpadding="0" cellspacing="0" border="0" class="display">
        <tbody>
        <tr>
          <td>房号</td>
          <td>1-1-1-1</td>
        </tr>
        <tr>
          <td>业主</td>
          <td>张三</td>
        </tr>
        <tr>
          <td>面积</td>
          <td>130平方米</td>
        </tr>
        <tr>
          <td>房屋类型</td>
          <td>商品房</td>
        </tr>
        </tbody>
      </table>

    </div>
    <div class="portlet-header"><h4>车位信息</h4></div>
    <div class="portlet-content">
      <table cellpadding="0" cellspacing="0" border="0" class="display">
        <tbody>
        <tr>
          <td>05</td>
          <td>川A12345465</td>
          <td>私人</td>
          <td>未到期</td>
        </tr>
        <tr>
          <td>05</td>
          <td>川A12345465</td>
          <td>私人</td>
          <td>未到期</td>
        </tr>
        </tbody>
      </table>

    </div>
    <div class="portlet-header"><h4>账户余额</h4></div>
    <div class="portlet-content">
      <table cellpadding="0" cellspacing="0" border="0" class="display" id="accounts_table">
        <tbody>
        <tr>
          <td>物业管理费</td>
          <td>1000.00</td>
        </tr>
        <tr>
          <td>生活垃圾费</td>
          <td>200.00</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
