<fieldset>
  <legend>账单列表</legend>
  <div class="container">
    <div class="input-append">
      <%= form_tag(bills_path, :method => :get) do %>
          <%= text_field_tag :house_code, nil, :class => 'span2', :placeholder => '房间号' %>
          <button type="submit" class="btn">搜索</button>
      <% end %>
    </div>
    <div class="input-append">
      <%= form_tag(:controller => :bills, :action => :calculate) do %>
          <button type="submit" class="btn">计算小区当月账单</button>
          <button type="button" class="btn"><i class="icon-remove"></i>批量删除</button>
      <% end %>
    </div>

  </div>
  <div class="container">
    <table class="table table-bordered table-hover table-condensed">
      <thead>
      <tr>
        <th style="width: 50px;">
          <label class="checkbox" style="margin-bottom: 0;">
            <input type="checkbox" onclick="selectAllCheck(this,'bill_id')">全选
          </label>
        </th>
        <th>房间号</th>
        <th>账单名称</th>
        <th>账单日期</th>
        <th>账单状态</th>
        <th>账单金额</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <% @bills.each do |bill| %>
          <tr>
            <td>
              <label class="checkbox">
                <input type="checkbox" id="bill_id" value="<%= bill.id %>">
              </label>
            </td>
            <td><%= bill.house.house_code %></td>
            <td><%= bill.bill_name %></td>
            <td><%= bill.bill_date %></td>
            <td><%= bill.bill_status %></td>
            <td><%= bill.curr_money %></td>
            <td>
              <%= link_to '编辑', edit_bill_path(bill) %>
              <%= link_to '删除', bill, confirm: '确定删除?', method: :delete %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div class="pull-right">
      <%= paginate @bills %>
    </div>

  </div>
</fieldset>

