<script type="text/javascript">
  function print_unpay() {
    var url = "<%=url_for(:controller => :receipt,:action=>:print_unpay) %>";
    url += "?1=1";
    $("input[name='house_ids']").each(function () {
      if (this.checked) {
        url += "&house_ids[]=" + this.value;
      }
    });
    var sFeatures = "height=600, width=810, top=0, left=0, toolbar=no, menubar=no, scrollbars=yes, resizable=yes,location=n o, status=no";
    window.open(url, '欠费催款单打印', sFeatures);
  }
</script>
<fieldset>
  <div id="legend">
    <legend>房间列表</legend>
  </div>
  <div class="container-fluid">
    <button class="btn btn-primary" onclick="print_unpay()">打印欠费催款单</button>
  </div>
  <div class="container-fluid">
    <table class="table table-bordered table-hover table-condensed">
      <thead>
      <tr>
        <th style="width: 50px;">
          <label class="checkbox" style="margin-bottom: 0;">
            <input type="checkbox" onclick="selectAllCheck(this,'house_ids')">全选
          </label>
        </th>
        <th>编号</th>
        <th>小区</th>
        <th>楼栋</th>
        <th>房号</th>
        <th>业主</th>
        <th>建筑面积</th>
        <th>实际面积</th>
        <th>公摊面积</th>
        <th>单元状况</th>
        <th>使用类型</th>
      </tr>
      </thead>
      <tbody>
      <% @houses.each do |house| %>
        <tr>
          <td>
            <label class="checkbox">
              <input type="checkbox" name="house_ids" id="house_ids" value="<%= house.id %>">
            </label>
          </td>
          <td><%= house.id %></td>
          <td><%= h house.plot.name %></td>
          <td><%= h house.area.name %></td>
          <td><%= h house.house_code %></td>
          <td><%= h house.owner_names %></td>
          <td><%= h house.builded_area %></td>
          <td><%= h house.real_area %></td>
          <td><%= h house.share_area %></td>
          <td><%= h get_status(house.status) %></td>
          <td><%= h get_use_type(house.use_type) %></td>
        </tr>

      <% end %>
      </tbody>
    </table>
    <div class="pull-right">
      <%= paginate @houses %>
    </div>
  </div>
</fieldset>