<%= render :partial => 'shared/error_messages', :locals => {:target => @company} %>


<%= form_for(@company) do |f| %>

    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :address %>
      <br/>
      <%= f.text_field :address %>
    </div>
    <div class="field">
      <%= f.label :telphone %>
      <br/>
      <%= f.text_field :telphone %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <br/>
      <%= f.text_field :email %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
