<script type="text/javascript">
    $(document).ready(function () {
        $("#btnAdd").click(function () {
            document.location.href = '<%= new_area_path %>';
        });
    });


</script>
<fieldset>
  <legend>楼栋列表</legend>
  <div class="container-fluid">

    <form>
      <div class="input-append">

        <input type="text" class="span2" placeholder="楼栋名称">
        <button type="button" class="btn">搜索</button>
        <%= link_to '新建', new_area_path, :class => 'btn' %>
        <button type="button" class="btn"><i class="icon-remove"></i>批量删除</button>
      </div>
    </form>
  </div>
  <div class="container-fluid">
    <table class="table table-bordered table-hover table-condensed">
      <thead>
      <tr>
        <th style="width: 50px;">
          <label class="checkbox" style="margin-bottom: 0;">
            <input type="checkbox" onclick="selectAllCheck(this,'area_id')">全选
          </label>
        </th>
        <th>所属小区</th>
        <th>楼栋名称</th>
        <th>房间数量</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <% @areas.each do |area| %>
          <tr>
            <td>
              <label class="checkbox">
                <input type="checkbox" id="area_id" value="<%= area.id %>">
              </label>
            </td>
            <td><%= area.plot.name %></td>
            <td><%= area.name %></td>
            <td><%= area.house_num %></td>
            <td>
              <%= link_to '编辑', edit_area_path(area), :class => 'btn' %>
              <%= link_to '删除', area, :confirm => '确认删除?', :method => :delete, :class => 'btn' %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div class="pull-right">
      <%= paginate @areas %>
    </div>
  </div>
</fieldset>