<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @area.name %>
</p>

<p>
  <b>Plot:</b>
  <%= @area.plot_id %>
</p>

<p>
  <b>House count:</b>
  <%= @area.house_num %>
</p>


<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
