<fieldset>
  <div id="legend">
    <legend>收费员统计</legend>
  </div>
  <div class="container-fluid">
    <div class="input-append">
      <%= form_tag controller: 'report', action: 'user_report' do %>
        <input id="start_time" name="start_time" type="text" class="span2" style="margin-bottom: 0;" placeholder="开始日期"/>
        --
        <input id="end_time" name="end_time" type="text" class="span2" style="margin-bottom: 0;" placeholder="结束日期"/>
        <%= submit_tag '搜索', class: 'btn' %>
      <% end %>
    </div>
  </div>
  <div class="container-fluid">
    <table class="table table-bordered table-hover table-condensed">
      <thead>
      <tr>
        <th>时间段</th>
        <th>已收金额</th>
        <th>收费员</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <% @user_reports.each do |user_report| %>
        <tr>
          <td><%= h user_report[:trans_time] %> </td>
          <td><%= h user_report[:total_pay_money] %> </td>
          <td><%= h user_report[:operator] %> </td>
          <td><%= link_to '详细', controller: 'report', action: 'user_report_detail', user: user_report[:operator] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</fieldset>
<script type="text/javascript">
  $(document).ready(function () {
    $("#start_time").datetimepicker({
      format: 'yyyy-mm-dd',
      minView: 'month',
      autoclose: true,
      todayBtn: true,
      todayHighlight: true
    });
    $("#end_time").datetimepicker({
      format: 'yyyy-mm-dd',
      minView: 'month',
      autoclose: true,
      todayBtn: true,
      todayHighlight: true
    });
  });
</script>