<%= render :partial => 'shared/error_messages', :locals => {:target => @role} %>
<%= form_for(@role, :html => {:class => 'form-horizontal'}) do |f| %>
    <fieldset>
      <legend><%= header_name %></legend>
      <div class="control-group">
        <%= f.label '角色名', :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="control-group">

        <div class="controls">
          <button id="btnSubmit" class="btn btn-primary">提交</button>
          <a href="<%= owners_path %>" class="btn">返回</a>
        </div>
      </div>

    </fieldset>
<% end %>
