<%= render :partial => 'shared/error_messages', :locals => {:target => @user} %>
<%= form_for(@user, :html => {:class => 'form-horizontal'}) do |f| %>
    <fieldset>
      <legend><%= header_name %></legend>
      <div class="control-group">
        <%= f.label '邮箱', :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :email %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label '密码', :class => 'control-label' %>
        <div class="controls">
          <%= f.password_field :password %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label '确认密码', :class => 'control-label' %>
        <div class="controls">
          <%= f.password_field :password_confirmation %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label '姓名', :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="control-group">

        <div class="controls">
          <button id="btnSubmit" class="btn btn-primary">提交</button>
          <a href="<%= root_path %>" class="btn">返回</a>
        </div>
      </div>

    </fieldset>
<% end %>
