<fieldset>
  <div id="legend">
    <legend>我的公告</legend>

  </div>
  <div class="container-fluid span8">
    <table class="table table-bordered table-hover table-condensed">
      <thead>
      <tr>
        <th style="width: 50px;">
          <label class="checkbox" style="margin-bottom: 0;">
            <input type="checkbox" onclick="selectAllCheck(this,'notice_id')">全选
          </label>
        </th>
        <th>主题</th>
        <th>内容</th>
        <th>发布时间</th>
        <th>过期时间</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <% @top_notices.each do |notice| %>
        <tr>
          <td>
            <label class="checkbox">
              <input type="checkbox" id="notice_id" value="<%= notice.id %>">
            </label>
          </td>
          <td><%= notice.topic %></td>
          <td><%= first_string(notice.content) %></td>
          <td><%= notice.created_at.strftime("%Y-%m-%d %H:%M") %></td>
          <td><%= notice.expire_date %></td>
          <td>
          </td>
        </tr>
      <% end %>
      <% @user_notices.each do |user_notice| %>
        <tr>
          <td>
            <label class="checkbox">
              <input type="checkbox" id="notice_id" value="<%= user_notice.notice.id %>">
            </label>
          </td>
          <td><%= link_to user_notice.notice.topic, read_notification_path(user_notice) %></td>
          <td><%= first_string(user_notice.notice.content) %></td>
          <td><%= user_notice.notice.created_at.strftime("%Y-%m-%d %H:%M") %></td>
          <td><%= user_notice.notice.expire_date %></td>
          <td>
            <%= get_read(user_notice) %>
          </td>
        </tr>

      <% end %>
      </tbody>
    </table>
    <%= paginate @user_notices %>

  </div>
</fieldset>
