<%= form_for(@charge) do |f| %>
    <% if @charge.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@charge.errors.count, "error") %> prohibited this charge from being saved:</h2>

          <ul>
            <% @charge.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= label_tag '选择小区'%>
	    <%= f.select(:plot_id, all_plots )%>

    </div>
    <div class="field">
      <%= f.label '费用名称' %>
      <br/>
      <%= f.text_field :item_name %>
    </div>
    <div class="field">
      <%= f.label '项目类型' %>
      <br/>
      <%= f.select( :period_type,all_period_type )%>
    </div>
    <div class="field">
      <%= f.label '计费周期' %>
      <br/>
      <%= f.select( :period, all_period) %>
    </div>
    <div class="field">
      <%= f.label '单价类型' %>
      <br/>
      <%= f.select(:unit_type,all_unit_type) %>
    </div>
    <div class="field">
      <%= f.label '单价' %>
      <br/>
      <%= f.text_field :price %>
    </div>
    <div class="field">
      <%= f.label '数量' %>
      <br/>
      <%= f.text_field :item_num %>
    </div>
    <div class="field">
      <%= f.label '滞纳金比率' %>
      <br/>
      <%= f.text_field :fee_rate %>
    </div>
    <div class="field">
      <%= f.label '是否退还' %>
      <br/>
      <%= f.select(:return_back,all_return_back) %>
    </div>
    <div class="field">
      <%= f.label '备注' %>
      <br/>
      <%= f.text_field :note %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
