<%= javascript_include_tag 'select_house_tree' %>
<%= form_tag({:action=>"add_house"},{:method=>"post",:id=>"add_house_form"}) do  %>
  <%= hidden_field_tag 'house_ids' %>
<table>
	<tr>
		<td><%=h @charge.item_name %></td>
	</tr>
	<tr>
      <td>房间列表</td>
    </tr>
    <tr>
        <td>
          <div id="house_tree"></div>
        </td>
	</tr>
	<tr>
      <td>
        <input type="submit" name='submit' value='保存' onclick="return getHouseIds()" />
        <input type="button" name="select_all" value="选择所有" onclick="check_all()" />
        <%= link_to '返回',user_path  %>
		</td>
	</tr>
</table>
<% end %>
