<%= javascript_include_tag 'select_house_tree' %>
<% form_tag :action=>'add_house' do  %>
  <%= hidden_field_tag 'house_ids' %>
<table>
	<tr>
		<td colspan="2" ><%=h @charge.item_name %></td>
	</tr>
	<tr>
        <td>房间列表</td>
        <td>
          <div id="house_tree"></div>
        </td>
	</tr>
	<tr>
      <td colspan="2">
        <input type="button" name='所选ids' onclick="getHouseIds()" />
			<%= submit_tag '保存' %>&nbsp;<%= link_to '返回',user_path  %>
		</td>
	</tr>
</table>
<% end %>
