<script type="text/javascript">
    var setting = {
        async: {
            enable: true,
            url:"/houses/house_tree",
            type: 'post'
        },

        callback:{

            onAsyncSuccess: zTreeOnAsyncSuccess,
            onAsyncError: zTreeOnAsyncError
        },
        check : {
            enable: true
        }
    };
    var zTree1;

    var nodes = [];
    function zTreeOnAsyncSuccess(event, treeId, treeNode, msg) {

        var idArray = $("#house_ids").val().split(",");
        for (var i = 0; i < idArray.length; i++) {
            var id = idArray[i];

            var node = zTree1.getNodesByParam("id", "h-" + id, null)[0];
            zTree1.checkNode(node, true, true);


        }
    }
    function zTreeOnAsyncError(event, treeId, treeNode, XMLHttpRequest, textStatus, errorThrown) {
        alert("error");
    }
    $(document).ready(function() {

        refreshTree();

    });

    function refreshTree() {
        zTree1 = $.fn.zTree.init($("#house_tree"), setting);
        $("#checkAllTrue").bind("click", {type:"checkAllTrue"}, checkNode);
        $("#checkAllFalse").bind("click", {type:"checkAllFalse"}, checkNode);
        $("#save").bind('click', function() {
                    var nodes = zTree1.getCheckedNodes(true);
                    var idArray = new Array();

                    for (var i = 0; i < nodes.length; i++) {
                        var node_id = nodes[i].id;
                        if (node_id[0] == "h") {
                            idArray.push(node_id.split("-")[1]);
                        }
                    }

                    var ids = idArray.join(',');
                    $("#house_ids").attr("value", ids);
                    $("#add_house_form").submit();
                }
        );


    }

    function checkNode(e) {
        var zTree = $.fn.zTree.getZTreeObj("house_tree"),
                type = e.data.type,
                nodes = zTree.getSelectedNodes();
        if (type.indexOf("All") < 0 && nodes.length == 0) {
            alert("请先选择一个节点");
        }

        if (type == "checkAllTrue") {
            zTree.checkAllNodes(true);
        } else if (type == "checkAllFalse") {
            zTree.checkAllNodes(false);
        } else {
            for (var i = 0, l = nodes.length; i < l; i++) {
                if (type == "checkTrue") {
                    zTree.checkNode(nodes[i], true);
                } else if (type == "checkFalse") {
                    zTree.checkNode(nodes[i], false);
                } else if (type == "checkTruePS") {
                    zTree.checkNode(nodes[i], true, true);
                } else if (type == "checkFalsePS") {
                    zTree.checkNode(nodes[i], false, true);
                }
            }
        }
    }
</script>
<div id="content" class="xfluid">
  <div class="portlet x7">
    <div class="portlet-header"><h4><%= h @charge.item_name %></h4></div>
    <div class="portlet-content">
      <%= form_tag({:action=>"add_house"}, {:method=>"post", :id=>"add_house_form"}) do %>
          <%= hidden_field_tag 'charge_id', @charge.id %>
          <%= hidden_field_tag 'house_ids', @charge.house_ids %>
          <div class="field">
            房间列表
          </div>
          <div id="house_tree" class="ztree"></div>
      <% end %>
      <div class="buttonrow">
        <button id="save" class="btn btn-orange">保存</button>
        <button id="checkAllTrue" class="btn">选择所有</button>
        <button id="checkAllFalse" class="btn">取消所有</button>
      </div>

    </div>
  </div>
  <div class="portlet x3">
    <div class="portlet-header"><h4>操作</h4></div>
    <div class="portlet-content">
      <%= link_to '返回', charges_path %>
    </div>
  </div>
</div>

