<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh_CN" lang="zh_CN">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title>铭智物业管理</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  
  <%= csrf_meta_tag %>
</head>
<body>
<div id="wrapper" class="clearfix">
  <div id="top">
    <div id="header">
      <h1>
        <a href="/">我的后台管理</a>
      </h1>

      <div id="info">
        <h4>Welcome <%= user_name_tag @current_user %> </h4>

        <p>
          Logged in as Admin <br> 您有 <a href="#">5 条新消息</a>
        </p>
        <%= image_tag("avatar.jpg") %>
        
      </div>
      <!-- #info -->

    </div>
    <!-- #header -->

    <div id="nav">

      <ul class="mega-container mega-grey">
        <li class="mega mega-current"><%= link_to '我的首页',root_path,:class=>'mega-link' %></li>
        <li class="mega"><a href="#" class="mega-tab"> 小区管理 </a>

          <div class="mega-content mega-menu ">
            <ul>
              <li><%= link_to '楼栋管理', areas_path %></li>
              <li><%= link_to '房屋管理', houses_path %></li>
              <li><%= link_to '业主管理', owners_path %></li>
            </ul>
          </div>
        </li>
        <li class="mega"><a href="javascript:;" class="mega-tab hasSub">收费管理</a>

          <div class="mega-content mega-menu ">

            <ul>
              <li><%= link_to "收费项目及标准", charges_path %>
              </li>
              <li><%= link_to "账单管理", bills_path %></li>
            </ul>
          </div>
        </li>

      </ul>
    </div>
    <!-- #nav -->
  </div>
  <!-- #top -->
  <%= yield %>

  <div id="footer">

    <center>
      &copy; 2003-2010 MingZi.com. 四川九轩科技有限公司版权所有 [<a href="http://www.ninexuan.com">川ICP备12345678号</a>]
    </center>

  </div>
  <!-- #footer -->

</div>
<script type="text/javascript" charset="utf-8">
	$(function() {
		slate.init();
		slate.portlet.init();
	});
</script>
</body>
</html>
