<script type="text/javascript">
  function change_unit_price(item){
      var id = $(item).val();
      var url = "/charges/get_unit_price/"+id;
      $.getJSON(url,function(data){
          $("#unitPrice").val(data.charge.price);
      });
  }
  $(document).ready(function(){

  });
</script>
<%= form_tag('add_pre_money') do %>
    <%= hidden_field_tag 'house_id', @house.id %>
    <%= hidden_field_tag 'house_code', @house.house_code %>
    <%= hidden_field_tag 'plot_id', @house.plot.id %>
    <%= radio_button_tag 'select_price',0 %>单价×数量
    <%= radio_button_tag 'select_price',1 %>自定义金额
    <div class="field">
      <%= label_tag '项目' %>&nbsp;
      <%= select_tag 'item_id', options_from_collection_for_select(@items,"id","item_name"),:onchange=>"change_unit_price(this)" %>
    </div>
    <div class="field">
      <%= label_tag '单价' %>&nbsp;
      <%= text_field_tag 'unitPrice', @items[0].price %>
    </div>
    <div class="field">
      <%= label_tag '数量(金额为数量×单价）' %> &nbsp;
      <%= text_field_tag 'record' %>
    </div>
    <div class="field">
      <%= label_tag '锁定金额' %> &nbsp;
      <%= text_field_tag 'can_push' %>
    </div>

    <div class="actions">
      <%= submit_tag %>
    </div>
<% end %>
