<script type="text/javascript">
  function print() {
    var url = "<%=url_for(:controller => :receipt,:action=>:print_account) %>";
        url += "?houseId=" + $('#house_id').val();
        var flag = false;
        var sum_checked = 0;
        var hasNoPay = false;
        $("input[name='detail_ids']").each(function () {
            if (this.checked) {
//                if ($("#bill_item_" + this.value).text() == "已收") {
                    url += "&item_ids[]=" + this.value;
                    flag = true;
                    sum_checked += 1;

//                } else {
//                    hasNoPay = true;
//                }
            }
        });

//        if (hasNoPay) {
//            alert("包含有未缴费项目,请先缴费再打印收据!");
//            return;
//        }
        if (!flag) {
            alert("至少选择一个收费项!");
            return;
        }

        if (sum_checked > 4) {
            alert("最多只能选择4项!");
            return;
        }
        var sFeatures = "height=600, width=810, top=0, left=0, toolbar=no, menubar=no, scrollbars=yes, resizable=yes,location=n o, status=no";
        window.open(url, '收据打印', sFeatures);
       // setInterval(refresh_house, 5000);
   
  }

  function selectAllCheck(allCheckedObj, id) {
      var isAll = $(allCheckedObj).attr("checked");
      if (isAll) {
          $(":checkbox").each(function () {
              if (this.id == id) {
                  if (!this.checked && !this.disabled) {
                      this.checked = true;
                  }
              }
          });
      } else {
          $(":checkbox").each(function () {
              if (this.id == id) {
                  if (this.checked && !this.disabled) {
                      this.checked = false;
                  }
              }
          });
      }
  }
</script>
<input type="hidden" id="house_id" value="<%=@account.house.id %>" >
<fieldset>
  <legend>历史记录</legend>
  <div class="container-fluid">
    <div class="pull-left input-append">

      <button type="button" class="btn"><i class="icon-remove"></i>批量删除</button>
      <button type="button" class="btn" onclick="print()">打印收据</button>

    </div>
    <div class="pull-right input-prepend">
      <%= link_to '返回', root_path, :class => 'btn' %>
    </div>
  </div>
  <div class="container-fluid">
    <table class="table table-bordered table-hover table-condensed">
      <thead>
      <tr>
        <th style="width: 50px;">
          <label class="checkbox" style="margin-bottom: 0;">
            <input type="checkbox" onclick="selectAllCheck(this,'detail_ids')">全选
          </label>
        </th>
        <th>房号</th>
        <th>业主</th>
        <th>类型</th>
        <th>收费项目</th>
        <th>交易时间</th>
        <th>交易金额</th>
        <th>操作员</th>
        <th>备注</th>
        <th>单据号</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <% @details.each do |detail| %>
          <tr>
            <td>
              <label class="checkbox">
                <input type="checkbox" name="detail_ids" id="detail_ids" value="<%= detail.id %>">
              </label>
            </td>
            <td><%= detail.account.house_code %></td>
            <td><%= detail.account.house.owner_name %></td>
            <td><%= get_account_type detail.account_type %></td>
            <td><%= detail.account.item_name %></td>
            <td><%= detail.trans_time %></td>
            <td><%= detail.money %></td>
            <td><%= detail.updateby %></td>
            <td><%= detail.note %></td>
            <td><%= detail.receipt_no %></td>
            <td>
              <%= del_detail detail.id %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <div class="pull-left">
      <%= paginate @details %>
    </div>


  </div>
</fieldset>
