<p id="notice"><%= notice %></p>

<p>
  <b>House:</b>
  <%= @account.house_id %>
</p>

<p>
  <b>House code:</b>
  <%= @account.house_code %>
</p>

<p>
  <b>Money:</b>
  <%= @account.money %>
</p>

<p>
  <b>Item:</b>
  <%= @account.item_id %>
</p>

<p>
  <b>Item type:</b>
  <%= @account.item_type %>
</p>

<p>
  <b>Item name:</b>
  <%= @account.item_name %>
</p>

<p>
  <b>Plot:</b>
  <%= @account.plot_id %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
